@page "/cascading-parameter-mistakes"
@using ComponentInteraction.CommonMistakes.CascadingParameterMistakes

<h3>Cascading Parameter Mistakes</h3>
<div>
    <TryToUpdateReferenceCascadeParameterGrandParent />
</div>