@page "/"

<PageTitle>Blazor School code sample</PageTitle>

<h1>Welcome to Blazor School!</h1>
<p>Demonstrate how to interact between components in Blazor WebAssembly .NET 7. - Blazor School</p>
<p>For additional tutorials on Blazor WebAssembly, visit <a href="https://blazorschool.com" target="_blank">Blazor School</a>.</p>

<div><NavLink href="single-cascading-parameter">Single Cascading Parameter</NavLink></div>
<div><NavLink href="multiple-cascading-parameters">Multiple Cascading Parameter</NavLink></div>
<div><NavLink href="cascading-parameter-mistakes">Cascading Parameter Mistakes</NavLink></div>
<div><NavLink href="notify-change-cascading-parameter">Notify Cascading Parameter Change</NavLink></div>
<div><NavLink href="parameter">Parameter</NavLink></div>
<div><NavLink href="parameter-mistakes">Parameter Mistakes</NavLink></div>
<div><NavLink href="parameter-with-delegate">Parameter with Delegate</NavLink></div>
<div><NavLink href="parameter-with-binding">Parameter with Binding</NavLink></div>
<div><NavLink href="transfer-service">Transfer Service</NavLink></div>