<div>
    <h3>Grand Parent Component</h3>
    The grand parent component is passing "@Data" to the descendant components.
    <CascadingValue Value="Data">
        <Parent />
    </CascadingValue>
</div>

@code {
    public string Data { get; set; } = "Data from grand parent component.";
}