<div>
    <h3>Child Component</h3>
    <div>Received input parameter: "@InputParameter"</div>
    <div>Received required input parameter: "@RequiredInputParameter"</div>
</div>

@code {
    [Parameter]
    public string InputParameter { get; set; } = "Default Value";

    [EditorRequired]
    [Parameter]
    public string RequiredInputParameter { get; set; } = "";
}