<div>
    <h3>Parent</h3>
    <div>Parent component is passing: "@FirstData" and "@SecondData" to the child component.</div>
    <Child InputParameter="FirstData" RequiredInputParameter="SecondData" />
</div>

@code {
    public string FirstData { get; set; } = "First data";
    public string SecondData { get; set; } = "Second data";
}